@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
};

:root {
  font-family: system-ui, Fredoka, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgb(0, 0, 0);
  background-color: #e8f6f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
